In [ ]:
import pandas as pd

df = pd.read_csv("./work/airthings_history.csv", delimiter=";")

df

,recorded,RADON_SHORT_TERM_AVG pCi/L,PM2_5 μg/m3,CO2 ppm,HUMIDITY %,TEMP °F,VOC ppb,PRESSURE inHg,PM1 μg/m3
0,2024-11-01T00:01:25,NaN,NaN,1004.0,54.50,76.10,NaN,NaN,NaN
1,2024-11-01T00:01:27,NaN,7.0,NaN,NaN,NaN,46.0,29.88,7.0
2,2024-11-01T00:03:52,NaN,NaN,979.0,54.58,75.72,NaN,NaN,NaN
3,2024-11-01T00:03:54,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0
4,2024-11-01T00:06:26,NaN,NaN,957.0,54.54,75.69,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
357207,2025-08-19T14:05:03,NaN,5.0,NaN,NaN,NaN,93.0,29.97,2.0
357208,2025-08-19T14:07:27,NaN,NaN,782.0,57.01,76.48,NaN,NaN,NaN
357209,2025-08-19T14:07:29,NaN,5.0,NaN,NaN,NaN,NaN,NaN,4.0
357210,2025-08-19T14:10,NaN,NaN,821.0,57.21,76.55,NaN,NaN,NaN
357211,2025-08-19T14:10:02,NaN,8.0,NaN,NaN,NaN,98.0,29.97,5.0

In [5]:
# Convert 'recorded' column to datetime
df['recorded'] = pd.to_datetime(df['recorded'], format="mixed")

# Set 'recorded' as index
df.set_index('recorded', inplace=True)

# Resample to 5 minute intervals, aggregating with mean
df_5min = df.resample('5T').mean()

# Drop rows with any NaNs
df_5min_clean = df_5min.dropna()

df_5min_clean

/tmp/ipykernel_33/3748886494.py:8: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_5min = df.resample('5T').mean()

,RADON_SHORT_TERM_AVG pCi/L,PM2_5 μg/m3,CO2 ppm,HUMIDITY %,TEMP °F,VOC ppb,PRESSURE inHg,PM1 μg/m3
recorded,,,,,,,,
2024-11-01 00:10:00,0.68,6.5,985.5,54.830,75.875,48.0,29.89,6.0
2024-11-01 00:30:00,0.62,6.0,1039.5,55.165,75.815,50.0,29.88,6.0
2024-11-01 00:50:00,0.62,6.5,1092.5,53.210,76.840,176.0,29.88,6.5
2024-11-01 01:10:00,0.62,4.5,1037.0,51.460,77.830,76.0,29.88,4.5
2024-11-01 01:30:00,0.46,3.0,998.5,50.980,78.265,50.0,29.87,3.0
...,...,...,...,...,...,...,...,...
2025-08-19 12:40:00,0.41,1.5,842.5,44.890,77.955,119.0,29.97,1.5
2025-08-19 13:00:00,0.41,2.0,853.5,47.545,78.285,67.0,29.97,2.0
2025-08-19 13:20:00,0.41,3.0,886.5,51.215,77.305,113.0,29.96,2.5
2025-08-19 13:40:00,0.41,9.5,705.5,54.565,76.580,79.0,29.97,9.0
2025-08-19 14:00:00,0.41,7.5,748.5,56.720,76.415,81.0,29.96,7.5